@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --verde-claro: #a1cca5ff;
    --verde-jazida: #8fb996ff;
    --verde-folha: #709775ff;
    --verde-militar: #415d43ff;
    --preto: #111d13ff;
    --fonte-titulo: "Crimson Text", serif;
    --fonte-texto: "Roboto Condensed", sans-serif;
}

body{
    background-color: var(--verde-claro);
    font-family: var(--fonte-texto);
    font-size: 16px;
}

.cabecalho{
    background-color: var(--verde-jazida);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.cabecalho-img{
    width: 15%;
    border-radius: 100%;
}

.cabecalho-nav_link{
    text-decoration: none;
    font-family: var(--fonte-titulo);
    font-size: 36px;
    color: var(--verde-militar);
    margin-right: 50px;
}

.cabecalho-nav_link:hover{
    color: var(--verde-folha);
    font-size: 45px;
    transition: 1s;
}

.principal-capa{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    margin-left: 0;
    padding: 24px 12px;
}

.principal-capa_combotao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.principal-capa_titulo{
    font-family: var(--fonte-titulo);
    font-size: 32px;
    color: var(--verde-militar);
    margin-bottom: 12px;
}

.principal-capa_texto{
    font-size: 24px;
    margin-top: 24px;
}

.principal-capa_imagem{
    border-radius: 100%;
}

.principal-capa_botao{
    background-color: var(--verde-claro);
    border-radius: 5px;
    padding: 1em;
    margin-top: 2em;
    color: var(--verde-folha);
    text-decoration: none;
}

.principal-capa_botao:hover{
    padding: 1,2em;
    background-color: var(--verde-jazida);
    color: var(--verde-militar);
    transition: 0.5s;
}

.botao_secundario{
    background-color: var(--verde-claro);
    color: var(--verde-folha);
}

.propaganda{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 7em;
}

.propaganda_imagem{
    margin-left: 10%;
    width: 80%;
    margin-top: 15%;
    box-shadow: 1px 1px 1rem var(--preto);
}

.propaganda_imagem:hover{
    width: 85%;
    transition: 1s;
}

.propaganda_titulo{
    font-family: var(--fonte-titulo);
    font-size: 45px;
    color: var(--preto);
    text-shadow: 3px 3px 5px var(--verde-folha);
}

.propaganda_texto{
    font-size: 20px;
    color: var(--verde-militar);
}

.propaganda_botao{
    
}